<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Solar System App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <h1>Welcome to the Solar System App</h1>
    <button onclick="window.location.href='/register'">Register</button>
    <button onclick="window.location.href='/login'">Login</button>
</body>
</html>